#Kickstart File used to do a fully automated installation of CENTOS7
#Property B.J.S. Inc. Group 5 CIT-470
#Johnny Rivera
#Brian Solomon
#Spencer Klump

# Use cmdline install
cmdline
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=ens33 --gateway=10.2.6.1 --ip=10.2.6.89 --nameserver=10.14.1.10,10.11.0.51 --netmask=255.255.254.0 --ipv6=auto --activate
network  --hostname=group5server.hh.nku.edu


# Root password
rootpw comppass
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
# Partition clearing information
clearpart --none --initlabel
# Installation Partitioning ORDER: /, /var, and swap
part swap --ondisk=sda --fstype="swap" --size=512
part /var --ondisk=sda --fstype="xfs" --size=2048
part / --ondisk=sda --fstype="xfs" --size=7680

# Reboot after main installation
reboot

# After Installation
%packages
@^minimal
@core
chrony
kexec-tools
net-tools
wget

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

# Post installations and user adds
%post --log=/root/post-log.log --interpreter /bin/bash
yum -y install openssl
yum update -y
yum -y install bzip2
systemctl set-default multi-user.target
%end